<nav class="bg-gray-900 px-6 py-4">
  <ul class="flex gap-6 text-white font-medium">
    <li>
      <a
        href="/"
        class="<%= currentPage.toLowerCase() === 'home'?'text-amber-400' :'hover:text-amber-400 transition'%>"
        >airbnb</a
      >
    </li>
    <li>
      <a
        href="/home-list"
        class="<%= currentPage.toLowerCase() === 'home-list'?'text-amber-400' :'hover:text-amber-400 transition'%>"
        >Homes List</a
      >
    </li>
    <li>
      <a
        href="/Admin/add-home"
        class="<%= currentPage.toLowerCase() === 'addhome'?'text-amber-400' :'hover:text-amber-400 transition'%>"
      >
        Add Home
      </a>
    </li>
    <li>
      <a
        href="/Admin/home-list"
        class="<%= currentPage.toLowerCase() === 'adminhomelist'?'text-amber-400' :'hover:text-amber-400 transition'%>"
      >
        AdminHomeList
      </a>
    </li>
    <li>
      <a
        href="/favorite"
        class="<%= currentPage.toLowerCase() === 'favorite'?'text-amber-400' :'hover:text-amber-400 transition'%>"
      >
        Favorite
      </a>
    </li>
    <li>
      <a
        href="/booking"
        class="<%= currentPage.toLowerCase() === 'booking'?'text-amber-400' :'hover:text-amber-400 transition'%>"
      >
        Bookings
      </a>
    </li>
  </ul>
</nav>
